<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title><%= title %></title>
  <link rel='stylesheet' type='text/css' href="/static/css/bootstrap.min.css">
  <style>
    #root {
      font-size: 40px;
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
    }

  </style>
</head>

<body>
  <div id='root'>
    Hello Koa
  </div>
  <script src="http://apps.bdimg.com/libs/jquery/1.9.1/jquery.min.js"></script>
</body>

</html>
