<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title><%= title %></title>
  <link rel='stylesheet' type='text/css' href="/static/css/bootstrap.min.css">
  <style>
    .container {
      display: flex;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100vh;
    }

    .login {
      width: 400px;
      padding: 20px 30px;
      margin-top: -100px;
      border: 1px solid #eee;
    }

    .login .was-validated {
      display: block;
    }

    .login .register-link {
    }

  </style>
</head>

<body>
  <main class='container'>
    <div class='login'>
      <form>
        <div class='form-group'>
          <label for='email'>邮箱</label>
          <input type="email" class="form-control" id="email" placeholder="邮箱" />
          <div class='invalid-feedback'></div>
        </div>
        <div class='form-group'>
          <label for='password'>密码</label>
          <input type="password" class="form-control" id="password" placeholder="密码" />
          <div class='invalid-feedback'></div>
        </div>
        <div class='register-link'>
          <div><a href='/register'>注册</a></div>
          <button type="submit" id='submit' class="btn btn-primary btn-block">登录</button>
          <div class='invalid-feedback'></div>
        </div>
      </form>
    </div>

  </main>
<script src="http://apps.bdimg.com/libs/jquery/1.9.1/jquery.min.js"></script>
  <script type='text/javascript' src='/static/js/login.js'></script>
</body>

</html>
